<!-- <html>

    <head>

        <title>{{title}}</title>

    </head>

    <body>

        <div>HelloApp: <a href="/">Home</a></div>

        <hr>

        <h1> Users of the Application</h1>

        {% for user in users %}

        <li> <a href='/user/{{user}}'> {{user}} </a></li>

        {% endfor %}

    </body>

</html> -->

{% extends 'base.html' %}

{% block content %}

    <h1>Users of the Application</h1>

    {% for user in users %}

    <li><a href="/user/{{user}}">{{ user }}</a></li>

    {% endfor %}

{% endblock %}